# macOS
.DS_Store

# Python
.cdkvenv/
.venv/
.env
*.pyc
__pycache__/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

# CDK & build
cdk.out/
.cdk.staging/

# Local stuff
*.log
*.swp
.tmp/
dist/
build/

# Editor
.vscode/
.idea/

# Notebooks / data (if any)
*.ipynb_checkpoints